* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    border: none
}

#bait {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10% 5%;
    background-color: rgb(163, 31, 31);
}

.img_aviso {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.img_aviso img {
    width: 100%;
    height: 100%;
}

.txt_aviso {
    font-size: 30px;
    font-weight: 600;
    line-height: 2rem;
    color: white;
}

.txt_aviso a {
    font-size: 20px;
    color: blue;
}

.txt_aviso a:hover {
    color: rgb(98, 161, 255)
}

@media screen and (max-width: 800px) {
    
    #bait {
       padding: 60% 0;

    }

    .txt_aviso a {
        font-size: 18px;
    }

}